/.env
/.env.local
/.phpunit.result.cache
/var/
/vendor/
/bin/
/node_modules/
/public/bundles/
/public/build/
/public/uploads/
/var/cache/
/var/log/
/var/sessions/
/var/bootstrap.php.cache
/.idea/
/.phpstorm.meta.php/
/.DS_Store
/.vscode/
/.sentryclirc
/.php_cs
