{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    <h1>Usuarios Cadastrados<h1>

    <ul>
        {% for pessoa in pessoas %}
            <li>Nome: {{ pessoa.nome|upper }} - Fone: {{ pessoa.telefone }}</li>
        {% endfor %}
    </ul>
{% endblock %}